@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300&display=swap');

html{
    font-size:16px;
    line-height:1.3;
    font-weight:400;
    box-sizing:border-box;
    font-family: sans-serif;
}

body{
    background-color: #DEDDDB;
    font-family: 'Roboto',Arial,sans-serif;
    font-weight:400;
    color: #747474;
    margin:0;
    padding-top:70px;
    -webkit-font-smoothing:antialiased
}

body.is-menu .main-nav {
    transform:translate(0)
}

*, ::after, ::before {
    box-sizing:inherit;
}

/*Style des headings*/
h1 {
    font-size: 34px !important;
    color: #00b39b !important;
}

h1, h2, h3, h4 {
    margin: 1em 0 !important;
    font-family: 'Work Sans',Arial,sans-serif;
    font-weight: 300;
    letter-spacing: -.3px;
}

p{
    font-size:16px;
    line-height: 1.70em;
    font-weight:600px;
    font-family:'Roboto',Arial,sans-serif;
    color:#747474;
}

/*Logo dans le menu largeur et hauteur*/

.section-logo{
margin-top: 16px;
}

.logo-docplanner {
    width: 268px;
    height: 33px;
}


/*Logo responsive en style hamburger*/

button, html input[type="button"], input[type="reset"], input[type="submit"] {
    -webkit-appearance: button;
}

.hamburger {
    float: right;
    display: none;
    z-index: 12;
    padding: 17px 13px 13px;
    display: inline-block;
    cursor: pointer;
    position: relative;
    outline: 0;
    font: inherit;
    color: inherit;
    text-transform: none;
    background-color: transparent;
    border: 0;
    margin: 0 -10px 0 0;
    overflow: visible;
}


/*Affichage en block*/

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary{
    display: block;
}


/*La nav bar*/
.main-header.is-sticky {
    box-shadow: 0 -2px 10px 0 rgba(0,0,0,.15);
}

/*Div section inner*/

.section__inner::after, .section__inner::before {
    content: "";
    display: table;
}

.section__inner {
    zoom: 1;
    max-width: 1015px;
    padding: 0 20px;
    margin: 0 auto;
    position: relative;
}

.section__inner::after {
    clear: both;
}

/*Le main header*/

.main-header {
    display:inline-block;
}

.main-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height:70px;
    z-index: 3;
    background: hsla(0,0%,100%,.98);
    transition: box-shadow .25s ease 0s;
}


/*
nav.main-header>div.section_inner>nav.main-menu> ul.main-menu>li.dropdown>a{
    display:flex;
    flex-direction: row;
}*/

.main-nav {
    position: fixed;
    top: 0;
    right: 365px;
    float: right;
}

/*Le main menu*/

.main-menu {
    list-style: none;
    font-size: .9375rem;
    font-weight: 400;
    line-height: 2em;
    padding: 1.33em 0;
}

.main-menu li {
    display: inline-block;
}

.main-menu a {
    font-weight:600;
    cursor:pointer;
    padding: 8px;
    text-align:center;
    color:#ababab;
    text-decoration: none;
    border-bottom:1px solid hsla(0,0%,100%,.2)
}

.main-menu .is-current, .main-menu .is-current a {
    color: #00b39b;
}

.main-menu a:hover {
    color:#00b39b;
}


.is-menu .main-menu li {
    opacity:1
}

.is-menu .main-menu li:first-of-type {
    transition-delay:.15s
}

.is-menu .main-menu li:nth-of-type(2) {
    transition-delay:.25s
}

.is-menu .main-menu li:nth-of-type(3) {
    transition-delay:.35s
}

.is-menu .main-menu li:nth-of-type(4) {
    transition-delay:.45s
}

.main-menu li:nth-child(3n) a {
    padding:1em 0 0;
    border-bottom:none;
    opacity:.5
}

.main-menu li:nth-child(3n) .dropdown-content a {
    opacity:1
}


/* Style de l'ancre*/
a {
    text-decoration: none;
    color: #3d83df;
    outline: 0;
    transition: all .2s ease 0s;
}



/*Menu Sous onglet Departments */
.dropdown {
    cursor:pointer;
    position:relative;
    display:inline-block;
    padding-left: 8px;
}

.dropdown-content {
    display:none;
    padding-top:10px;
    position:absolute;
    min-width:189px;
    margin-left:-53px;
    background:#fff;
    box-shadow:0 5px 10px 0 #d3cfc9;
    z-index:1
}

.dropdown-content a,
.dropdown-content li {
    display:block;
    width:100%
}

.dropdown-content a {
    color:#747474;
    line-height:120%;
    padding:12px 16px!important;
    text-decoration:none;
    display:block
}

.dropdown a:hover {
    color: #00b39b !important;
}

.dropdown:hover .dropdown-content a:hover {
    background-color:#f6f8f8;
}

.dropdown:hover .dropdown-content {
    display:block
}

.dropdown .dropdown-content li {
padding:0
}
.dropdown .dropdown-content li a {
    border-bottom:none
}

/*BLOCK 1> lead section*/

.lead {
    margin: 2.0625rem auto 3.75rem;
}


.lead p {
    margin: .8em 0;
    line-height: 1.75;
    font-weight: 600;
}

.lead__logo {
    display: block;
    margin: 0 auto;
}

img {
    max-width: 100%;
    height: auto;
    border: 0;
}

.lead h1 {
    text-align: center;
}


.grid {
    /*display: flex;*/
    justify-content: center;
    float: none;
    margin: 0 -10px;
    line-height: 20.8px;
    z-index: auto;
}

.grid::after, .grid::before {
    content: "";
    display: table;
    clear: both;
}


.grid.grid--to-right [class*=col-] {
    float:right
}

[class*=col-] {
    float:left;
    min-height:1px;
    padding:10px
}

.col-2 {
    width: 50% !important;
}

[class*="col-"] {
    float: left;
    min-height: 1px;
    padding: 10px;
}


/*BLOCK 2> Services section*/

.services {
    margin: 3.75rem auto 2.5rem;
}
/*
div.grid.fade-elements{

}*/

.fade-elements>.fade-elements__visible {
    transform: translate(0);
    opacity: 1;
}

.services .fade-elements .services__item>:first-child {
    transition-delay: .25s;
}
/*
.fade-elements>* {
    opacity: 0;
    transform: translateY(30px);
    transition: all .35s ease 0s;
}*/

.col-3 {
    width: 33.33% !important;
}

/*Première box market place*/
.services__item--marketplace {
    background: #00ccb1;
}

.services__item {
    border-radius: 10px;
    padding: 2em 2em 0;
    overflow: hidden;
    height: 345px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: all .2s ease 0s;
}

.services__item img {
    margin-bottom: -0.4em;
}

.services__item h1 {
    font-size: 1.615em !important;
    font-weight: 600 !important;
    color: #fff !important;
    margin: 0.3em 0 !important;
}

.services__item h2 {
    font-size: 1.5em;
    font-weight: 300;
    line-height: 1.2;
    margin: 0;
    color: #fff;
}


/*Le menu déroulant marketplace for patients*/
.services .style-select:last-child {
    margin-bottom: 35px;
}

.services .style-select {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    outline: 0;
    background: none;
    border: 0 !important;
    font-family: 'Roboto',Arial,sans-serif;
    font-weight: 400;
    letter-spacing: .04em;
    font-size: 1.2rem;
    text-align: center;
}

.services .style-select select {
    width: 100%;
    background: transparent;
    border: 0;
    border-radius: 0;
    padding: 0 0.1em 0 0;
    color:white !important;
    outline: 0;
    text-transform: none;
    text-decoration: underline;
    cursor: pointer;
}
/*
.style-select {
    border-radius: 4px;
    font-family: 'Work Sans',Arial,sans-serif;
    color:white !important;
    text-decoration: none!important;
    transition: all .2s ease 0s;
    cursor: pointer;
}*/
/*
select {
    word-wrap: normal;
}*/
/*
button, input, optgroup, select, textarea {
    color: white !important;
    font: inherit;
    margin: 0;
}*/
/*
select:not(:-internal-list-box) {
    overflow: visible !important;
}*/

.services .style-select select option {
    font-size: 1rem;
    line-height: 1.2;
    color: #333;
}

option {
    font-weight: normal;
    display: block;
    white-space: nowrap;
    min-height: 1.2em;
    padding: 0px 2px 1px;
}

/*Deuxieme box saas for doctors*/

.services__item--saas {
    background: #3d83df;
}

/*Troisième box saas for clinic*/

.services__item--clinics {
    background: #1b2734;
}

/*BLOCK 3> Brands section*/

dl, menu, ol, ul {
    margin: 0;
    padding: 0;
}

.brands {
    margin: 2.5rem auto 3.125rem;
}

.brands h1 {
    float: left;
    width: 33%;
    font-size: 1.625em !important;
    margin: 0.25em 0 0.35em;
    padding-right: 1em;
}

h1:first-child {
    margin: 0;
}

.brands__logos {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-size: 0;
    list-style: none;
    width: 67%;
}

.brands__logos li {
    font-size: 1rem;
    display: inline-block;
    margin-top: 0;
    padding: 5px 0 5px 5px;
    width: auto;
}

.brands__logos a {
    display: inline-block;
    padding: 5px 0;
}

a {
    background-color: transparent;
}

.brands__logos a svg {
    height: 20px;
    width: auto;
    max-width: 100%;
    padding-left: 10px;
}

svg:not(:root) {
    overflow: hidden;
}

.brands__logos a path {
    transition: all .2s ease 0s;
    fill: hsla(0,0%,67%,.7);
}

.brands__logos .tuotempo img {
    height: 16px;
}

.brands__logos .clinicloud img, .brands__logos .gipo img, .brands__logos .jameda img, .brands__logos .tuotempo img {
    transition: all .2s ease 0s;
    filter: invert(98%) sepia(2%) saturate(0) hue-rotate(180deg) brightness(300%) contrast(0);
    -webkit-filter: invert(98%) sepia(2%) saturate(0) hue-rotate(180deg) brightness(300%) contrast(0);
    opacity: .55;
}

/*BLOCK 4> Stats section*/

.stats {
    background: #e5faf8;
    background-image: linear-gradient(-45deg,rgba(0,204,177,.01) 5%,rgba(61,199,223,.1));
    padding: 1.875em 0 0.625em;
    overflow: hidden;
    margin: 3.125rem auto 5.5rem;
}


.stats__header::before {
    content: "";
    position: absolute;
    right: 67%;
    top: 45%;
    background: url(img/logo.png) no-repeat;
    width: 456px;
    height: 435px;
    pointer-events: none;
}

.stats__header {
    margin-top: 2em;
}

.stats__header p {
    max-width: 415px;
    font-size: .875em;
    font-weight: 400;
    line-height: 1.7142857143;
}

.stats__item {
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 1px 4px 0 rgb(0 0 0 / 5%);
    height: 250px;
    text-align: center;
    padding: 15px;
    font-size: .8125em;
}

.stats__item p {
    margin: 0;
    font-size:13px;
    line-height:18px;
    font-weight: 600;
}

.vert-align {
    display: table;
    width: 100%;
    height: 100%;
}

.stats__item h3 {
    font-size: 1.8461538462em;
    color: #00b39b;
    margin: 0.5em 0;
}

.stats__grid .col-2:nth-of-type(2n) .stats__item {
    transform: translateY(-30px);
}

/*BLOCK 5> Office section*/

.offices {
    margin-top: 5.5rem;
    margin-bottom: 5rem;
}

.offices__header {
    max-width: 460px;
    margin: 0 auto 4.1875rem;
    font-size: .875em;
    text-align: center;
}

.offices__header h1 {
    font-size: 2.1428571429em;
}

.offices__header p {
    font-size:13px;
    line-height: 1.5142857143;
    font-weight:600;
}

/*.offices__slider{
    display:flex;
    justify-content:space-between;

}*/
.offices__slider .office:nth-of-type(3n+1) {
    clear: left;
}

.offices__slider .office {
    width: 33.33%;
    float:left;
}

.office__inner {
    background: #fff;
    border: 1px solid rgba(0,0,0,.03);
    border-radius: 6px;
    overflow: hidden;
    max-width: 311px;
    z-index: 2;
    position: relative;
    display: block;
    color: #747474;
}

figure {
    margin: 0;
}

.office__image img {
    display: block;
    margin: 0 auto;
}

.office__desc {
    font-size: 1.125em;
    font-weight: 400;
    line-height: 1.6666666667;
    padding: 1.1111111111em;
}

a:-webkit-any-link {
    color: #747474;;
    cursor: pointer;
    text-decoration: none;
    
}

/*Le style du bouton des boxes des offices*/

.office .btn {
    float: right;
}

.btn--small {
    font-size: .625rem;
    padding: 1em 1.5em;
}

.btn {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    outline: 0;
    border: 0;
    border-radius: 4px;
    padding: 1.1666666667em 1.5em;
    background: #3d83df !important;
    font-family: Roboto,Arial,sans-serif;
    line-height: 1em;
    color: #fff !important;
    font-weight: 700;
    letter-spacing: .04em;
    font-size: .75rem !important;
    text-align: center;
    text-decoration: none !important;
    text-transform: uppercase;
    transition: all .2s ease 0s;
}

/*BLOCK 6> Office section*/

.join-us {
    margin: 5rem auto;
    text-align: center;
}

.join-us__header h1 {
    font-size: 2.1428571429em;
    color: #333 !important;
    margin-bottom: 0.75em;
}


/*Le FOOTER*/
.main-footer {
    border-top: 1px solid #eef2f2;
    text-align: center;
    padding: 1em 0;
}

.main-footer p {
    margin-bottom: 0.4em;
}

.main-footer .section__inner, .main-footer p {
    font-size: 12px;
    color: #ababab;
}

.main-footer a {
    color: #0d6efd;
    cursor: pointer;
    text-decoration: none;
} 

.main-footer a:hover {
    color: #0d6efd;
    cursor: pointer;
    text-decoration: underline;
} 